.slider-root {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

}
.track {
  display: flex;
  transition: transform 0.6s ease-in-out;
}
.viewport {
  overflow: hidden;
width: 60%;
}
.slide {
  flex: 0 0 calc(100% / 5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slide img {
  width:120px ;
  height:120px ;
  object-fit: cover;
  border-radius: 100%;
  border: solid 2px rgb(0, 119, 255);
  display: block;
  padding:  5px 8px;
  margin: 10px 20px;
}
.slide img:hover{
  outline: solid 2px rgb(0, 145, 255) ;
}
.title {
  text-align: center;
  margin-top: 6px;
  font-size: 13px;
}
.nav {
  border: none;
  background: rgba(0,0,0,0.25);
  color: white;
  font-size: 1.6rem;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 6px;
}
.dots {
  margin-top: 10px;
  display:flex;
  justify-content:center;
  gap:6px;
}
.dot {
  width:10px;
  height:10px;
  border-radius:50%;
  background:rgba(0,0,0,0.2);
  border:none;
}
.dot.active { background: rgba(0,0,0,0.7); width:18px; height:10px; border-radius:10px; }
