.material-symbols-outlined{
  font-size: 22px;
}
.search{
  color: rgb(105, 105, 105);
}
.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease;
}
.nav-items {
  display: none;            /* در موبایل پنهان */
  align-items: center;
  gap: 1rem;                /* فاصله بین آیتم‌ها */
}

/* نمایش در سایز بزرگ‌تر از 640px */
@media (min-width: 640px) {
  .nav-items {
    display: flex;          /* در دسکتاپ نمایش داده شود */
  }
}

/* category-menu.component.css */
.category-wrapper {
  position: absolute;
  top: 210px;
  right: 0;
  display: inline-block;
  direction: rtl;
  background-color: #2563eb;
}
@media (min-width: 640px) {
  .nav-items {
    display: flex;          /* در دسکتاپ نمایش داده شود */
  }
}
.category-button:hover {
  color: rgb(0, 98, 255);
}
.category-button:hover span{
  color: rgb(0, 98, 255);
}
.category-menu {
  position: absolute;
  top: 100%;
  right: 40px;

  display: flex;
  background: white;
  border: 1px solid #ddd;
  border-radius: 12px;
  margin-top: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 50;
}

.main-list {
  width: 25%;
  list-style: none;
  margin: 0;
  padding: 0;
  border-left: 1px solid #eee;
  background: #f8fafc;
}

.main-list li {
  padding: 10px 16px;
  cursor: pointer;
  transition: 0.2s;
}

.main-list li:hover,
.main-list li.active {
  background: #e0f2fe;
  color: #2563eb;
  font-weight: bold;
}

.sub-list {
  width: 75%;
  padding: 1rem;
}



.sub-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sub-list li {
  padding: 6px 0;
  font-size: 15px;
  cursor: pointer;
}

.sub-list li ul {
  padding-right: 12px;
  font-size: 14px;
  color: #475569;
}
